/*************************************
INPUT
*************************************/
input {
	margin-left: 37px;
	margin-top: 30px;
	height: 19px;
}

.input_focus {
	opacity: 0.65;
}

/*************************************
BUTTON
*************************************/
#button:hover {
	cursor: pointer;
	opacity: 0.7;
}

button {
	background-color: grey;
	border: none;
	color: white;
	padding: 3px 15px;
	text-align: center;
	display: inline-block;
	font-size: 15px;
}

/*************************************
LIST ITEMS
*************************************/
.bullet {
	padding-right: 0px;
}

#icon {
	width: 10px;
	length: 10px;
}

#icon:hover { 
	cursor: pointer;
	opacity: 0.65;
}

ul {
  	list-style-type: none;
}

/*************************************
BACKGROUND
*************************************/
header {
	height: 30px;
	background: grey;
	width: 100%;
	padding-top: 13px;
	padding-left: 5px;
}

body {
	background-color: lightGrey;
	font-family: Arial;
}

/*************************************
DIVS
*************************************/
.color {
	margin-top: 32px;
	display: inline-block;
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	outline: none;
}

#black {
	margin-left: 10px;
	background-color: black;
}

#green {
	margin-left: 85px;
	background-color: green;
}

#red {
	margin-left: 35px;
	background-color: red;
}

#blue {
	margin-left: 60px;
	background-color: blue;
}

#xmarkHeader {
	height: 14px;
}
